@model KBZPj_Web.Models.EmployeeViewModel
@{
    ViewBag.Title = "EmployeeConfirm";
    bool isMsgShow = false;
    var aa = ViewData["Success"];
    if (Model.IsSuccess == true)
    {
        isMsgShow = true;
    }
   
}

<form action="/Employee/FinalConfirm" method="post">

    <div class="row" id="divLoading">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="card-block">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputFromAccount"><b>Employee Name</b></label>
                                    <div>@Model.EmployeeName</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputFromAccount"><b>Age</b></label>
                                    <div>@Model.Age</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputToAccount"><b>Gender</b></label>
                                    <div>@Model.Gender</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputAmount"><b>PhoneNumber</b></label>
                                    <div>@Model.PhoneNumber</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputAmount"><b>Email</b></label>
                                    <div>@Model.Email</div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                @if (Model.IsSuccess == true)
                                {
                                    <a href="/Employee/EmployeeIndex" class="btn btn-primary btn-square">OK</a>
                                }
                                else
                                {
                                    <button class="btn btn-secondary btn-square" type="button" onclick="window.location.href='/Employee/EmployeeIndex'">Back</button>
                                    <button class="btn btn-primary btn-square" id="btnConfirm" type="submit">Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    @if (isMsgShow)
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Employee Register is Successfully',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
    }
}